include forms



mixin row-dropdown(field)
	+form-field(field.label)
		select.form-control(name="#{field.fieldName}" data-bind="value: #{field.fieldName}, foreach: columnNames")
				option(data-bind="attr: { label: $data, value: $index}")


mixin excel-login()
	.form-group
		label.col-sm-2.col-sm-offset-2.control-label File location
		.col-sm-6
			input#excelFileLocation.form-control(type="text" data-bind="textInput: fileLocation" name="fileLocation")
		.col-sm-2
			button.btn.btn-default(type="button", data-bind="click: browseExcelFile") Browse...	
						
	+row-dropdown({label: 'Date', fieldName: 'JournalDate'})
	each field in [	{label: 'Nominal code', fieldName: 'AccountCode'}, {label: 'Nominal name', fieldName: 'AccountName'}, {label: 'Amount', fieldName: 'Amount'}, {label: 'Created by', fieldName: 'Username'}, {label: 'Created date', fieldName: 'Created'}, {label: 'Description', fieldName: 'Description'}]
		+row-dropdown(field)
		