form.form-horizontal(action="search", method="post")
	fieldset
		legend.vertical-space Save results
		.form-group
			label.col-lg-2.control-label File name
			.col-lg-10
				input.form-control(type="text", data-bind="value: fileName")
				button.btn.btn-primary(data-bind="click: browse") Browse					
		hr.vertical-space
		.form-group
			div(class="col-sm-4")
				button(type="submit" class="btn btn-primary" data-bind="click: save") Save &raquo;