form.form-horizontal(action="search", method="post")
	fieldset
		legend.vertical-space Save results
		.form-group
			label.col-md-2.control-label File name
			.col-md-8
				.input-group     
					input.form-control(type="text", data-bind="value: fileName")
					span.input-group-btn
						button.btn.btn-primary(data-bind="click: browse") Browse
					
		.form-group
			div(class="col-sm-4")
				button(type="submit" class="btn btn-primary" data-bind="click: save") Save &raquo;