mixin form-field(label)
	.form-group
		label.col-sm-2.col-sm-offset-2.control-label #{label}
		.col-sm-6
			block

mixin button-group()
	+form-field('')
		.button-group.pull-right
			block

mixin checkbox(label, fieldName)
	.form-group
		.col-sm-6.col-sm-offset-4
			.checkbox
				label
					input(type="checkbox", data-bind="checked: #{fieldName}")
					| #{label}