mixin message(bindTo, alertClass, unhideable)
	div(data-bind="visible: #{bindTo}.visible(), with: #{bindTo}" style="display: none;" class="alert " + alertClass)
		if !unhideable
			button.close(type="button" data-bind="click: hide") &#10006;
		block

mixin errorMessage(bindTo, unhideable)
	+message(bindTo, 'alert-danger', unhideable)
		span(data-bind="text: message()")

mixin successMessage(bindTo)
	+message(bindTo, 'alert-success')
		block