div(class="navbar navbar-default navbar-fixed-top" role="navigation")
	div.container
		div.navbar-header
			a.navbar-brand(href="/")
				img(src="file://C:\\code\\logo\\Audition.alphv\\Audition.alphv (black).png")