div(data-bind="visible: showResults()")
	h2 Results
	table.table.grouped-table.grouped-hover-table.grouped-striped-table.vertical-space
		thead
			tr
				th Date created
				th Date of journal
				th Account Code
				th Account Name
				th Dr/Cr
				th Amount
		//ko foreach: results
		tbody
				tr
					td(data-bind="text: userFriendlyDateTime(Created)")
					td(data-bind="text: userFriendlyDate(JournalDate)")
					td(data-bind="text: Lines[0].AccountCode")
					td(data-bind="text: Lines[0].AccountName")
					td(data-bind="text: Lines[0].JournalType")
					td(data-bind="text: Lines[0].Amount")
				// ko foreach: Lines.slice(1)
				tr
					td
					td
					td(data-bind="text: AccountCode")
					td(data-bind="text: AccountName")
					td(data-bind="text: JournalType")
					td(data-bind="text: Amount")
				// /ko
		// /ko

div(data-bind="visible: showApology()")
	h2 No results

div(data-bind="visible: showSearching()")
	h2 Searching...

div(data-bind="visible: showError()")
	h2 Error
	span(data-bind="text: lastError")
