mixin pager()
	ul.pager
		li.previous(data-bind="visible: isPreviousPage()")
			a(href="#" data-bind="click: goToPreviousPage") ← Previous
		li.next(data-bind="visible: isNextPage()")
			a(href="#" data-bind="click: goToNextPage") Next →

div(data-bind="visible: showResults()" style="display: none;")
	h2 Results
	+pager()
	table.table.grouped-table.grouped-hover-table.grouped-striped-table.vertical-space
		thead
			tr
				th Date created
				th Date of journal
				th(data-bind="visible: $root.showDescription()") Description
				th(data-bind="visible: $root.showUsername()") Username
				th Dr/Cr				
				th Account Name
				th Amount
				th Account Code
		//ko foreach: results
		tbody
				tr
					td(data-bind="text: userFriendlyDateTime(Created)")
					td(data-bind="text: userFriendlyDate(JournalDate)")
					td(data-bind="text: Description, visible: $root.showDescription()")
					td(data-bind="text: Username, visible: $root.showUsername()")
					td(data-bind="text: Lines[0].JournalType")
					td(data-bind="text: Lines[0].AccountName")
					td(data-bind="text: formatCurrency(Lines[0].Amount)")
					td(data-bind="text: Lines[0].AccountCode")
				// ko foreach: Lines.slice(1)
				tr
					td
					td
					td(data-bind="visible: $root.showDescription()")
					td(data-bind="visible: $root.showUsername()")
					td(data-bind="text: JournalType")
					td(data-bind="text: AccountName")
					td(data-bind="text: formatCurrency(Amount)")
					td(data-bind="text: AccountCode")
				// /ko
		// /ko
	+pager()
div(data-bind="visible: showApology()" style="display: none;")
	h2 No results

div(data-bind="visible: showError()" style="display: none;")
	h2 Error
	span(data-bind="text: lastError" style="display: none;")
