include forms

mixin sage50-import()
	+form-field({label: "Data location", button: {label: "Browse...", onClick: "browseDataDirectory"}})
		input#sage50dataDirectory.form-control(type="text" data-bind="textInput: dataDirectory" name="dataDirectory")
	+form-field({label: 'Sage 50 user'})
		input.form-control(type="text" name="username" data-bind="value: username")
	+form-field({label: 'Password'})
		input.form-control(type="password" name="password" data-bind="value: password")