include forms

mixin sage50-login()
	.form-group
		label.col-sm-2.col-sm-offset-2.control-label Data location
		.col-sm-6
			input#sage50dataDirectory.form-control(type="text" data-bind="value: dataDirectory" name="dataDirectory")
		.col-sm-2
			button.btn.btn-default(type="button", data-bind="click: browseDataDirectory") Browse...
	+form-field('User ID')
		input.form-control(type="text" name="username" data-bind="value: username")
	+form-field('Password')
		input.form-control(type="password" name="password" data-bind="value: password")