include forms

mixin sap-login()
	+form-field('Application host')
		input.form-control(type="text" value="acme-sap-host-1")
	+form-field('User ID')
		input.form-control(type="text" value="2743")
	+form-field('Password')
		input.form-control(type="password" value="passw0rd")