mixin sap-login()
	.form-group
		label.col-sm-2.control-label Application host
		.col-sm-10
			input.form-control(type="text" value="acme-sap-host-1")				
	.form-group
		label.col-sm-2.control-label User ID
		.col-sm-10
			input.form-control(type="text" value="2743")
	.form-group
		label.col-sm-2.control-label Password
		.col-sm-10
			input.form-control(type="password" value="passw0rd")