script(src="/scripts/jquery-2.1.1.min.js")
script(src="/scripts/jquery-ui.min-1.11.1.js")
script(src="/scripts/bootstrap.min.js")
script(src="/scripts/knockout-3.2.0.js")
script(src="/scripts/knockout.mapping-latest.js")
script(src="/scripts/knockout-jqueryui.min.js")
script(src="/scripts/message.js")
script(src="/scripts/errors.js")
script(src="/scripts/licensing.js")
script(src="/scripts/bootstrap3-typeahead.min.js")
script(src="/scripts/browse.js")
script(src="/scripts/autocomplete.js")
