form.form-horizontal(action="search", method="post")
	fieldset(data-bind="with: parameters")
		legend.vertical-space Find journals for the period...
		.form-group(data-bind="with: Period")
			.col-sm-12
				.well.inline-block
					+dateInput('From')
					label.control-label.between-label to
					+dateInput('To')
					
		legend.vertical-space posted outside...
		.form-group(data-bind="with: Outside")
			.col-md-6
				.well.inline-block
					+dayOfWeekSelector('FromDay')
					label.control-label.between-label to
					+dayOfWeekSelector('ToDay')
			.col-md-6
				.well.inline-block
					+timeInput('FromTime')
					label.control-label.between-label to
					+timeInput('ToTime')
				
	.form-group
		.col-xs-4.vertical-space
			button.btn.btn-primary(type="submit" data-bind="click: submit") Search &raquo;
			button.btn.btn-default(data-bind="click: $root.toggleShowExport") Export &raquo;		
			