mixin dayOfWeekSelector(bindTo)
	select.form-control.scaled-input(data-bind="value: " + bindTo)
		for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']						
			option= day

mixin timeInput(bindTo)
	input.form-control.scaled-input(type="time", data-bind="value: " + bindTo)
	
mixin dateInput(bindTo)
	input.form-control.small-input(data-bind="datepicker: {dateFormat: 'yy-m-d'}, value: " + bindTo)


form.form-horizontal(action="search", method="post")
	fieldset(data-bind="with: parameters")
		legend.vertical-space Find journals for the period...
		.form-group(data-bind="with: Period")
			.col-sm-12
				.well.inline-block
					+dateInput('From')
					label.control-label.between-label to
					+dateInput('To')
		ul.nav.nav-tabs
			li.active
				a(href="#time" data-toggle="tab") Outside working hours
			li
				a(href="#accounts" data-toggle="tab") Unusual accounts
			li
				a(href="#users" data-toggle="tab") Unexpected users
			li
				a(href="#date" data-toggle="tab") Year end
			li
				a(href="#endings" data-toggle="tab") Round number
			li
				a(href="#keyword" data-toggle="tab") Keyword search

		#myTabContent.tab-content
			.tab-pane.fade.active.in#time
			legend.vertical-space posted outside...
			.form-group(data-bind="with: Outside")
				.col-md-6
					.well.inline-block
						+dayOfWeekSelector('FromDay')
						label.control-label.between-label to
						+dayOfWeekSelector('ToDay')
				.col-md-6
					.well.inline-block
						+timeInput('FromTime')
						label.control-label.between-label to
						+timeInput('ToTime')
				
	.form-group
		.col-sm-12.button-group
			button.btn.btn-primary.vertical-space(type="submit" data-bind="click: submit") Search &raquo;
			button.btn.btn-default.vertical-space(data-bind="click: $root.dataExport.save") Export &raquo;		
			