mixin page(title)
	doctype html
	html(lang="en")
		include head
		+head(title)
		body
			div.container
				h1= title
					img.brand-logo.pull-right(src="../images/A.svg")

			block

			include scripts

