mixin page(title, pagescript)
	- pagescript = pagescript || []
	doctype html
	html(lang="en")
		include head
		+head(title)
		body
			div.container
				.row
					.col-md-12
						h1= title
							img.brand-logo.pull-right(src="/Content/images/A.svg")
				.row#licensingElement(data-bind="visible: showUnlicensed", style="display: none;")
					.col-md-12
						span.pull-right Unlicensed

			#pageElement
				block

			include scripts
			each script in pagescript
				script(src="/scripts/" + script + ".js")
