include forms

mixin xero-login()
	.form-group
		label.col-sm-2.col-sm-offset-2.control-label Confirmation code
		.col-sm-6
			input.form-control(type="text" data-bind="value: code" name="code")
		.col-sm-2
			button.btn.btn-default(type="button", data-bind="click: initialiseLogin") Get Code...		
