include ../components/template

mixin column(title, content)
	div.col-md-4
		h2= title 
		p= content


+page('Home')
	div.jumbotron
		div.container
			h1 No more spreadsheets.
			p Audition Software helps auditors analyse their clients' accounts. Use our tool to find duplicate payments, or to search all journals raised for suspicious activity. No spreadsheets necessary.
			p
				a(role="button" class="btn btn-primary btn-lg", href="signup") Try it now &raquo;
	div.container
		div.row
			+column('Improve recovery rates', 'You want to be able to give your clients the best deal possible. Save time at the planning and execution stage of the audit and perform an ISA-compliant audit faster, allowing you to save your clients money.')
			
			+column('Increase ISA compliance', 'ISA 240, the auditor\'s responsibilities relating to fraud, requires the auditor to "Test the appropriateness of journal entries recorded in the general ledger". Many auditors find compliance with this standard difficult and burdensome. We can help.')
			
			+column('Improve reliability', 'Auditors are excellent at exercising their professional judgement, but computers are very good at mindlessly sifting through vast amounts of data, because they\'re much less likely to make mistakes. Save your people\'s time for the work that makes a difference, and let a computer do the heavy lifting')

		h1 How does it work?
		
		div.row
			+column('1: Import journals straight from the accounts', 'Tired of tools that take longer to use than doing the task by hand? So are we. Our tool allows you to import your client\'s data directly from Sage, SAP and Xero so you can get the job done quickly and easily.')
			
			+column('2: Analyse data quickly and thoroughly', 'No spreadsheet formulae, no scanning huge lists of journals looking for ones that stand out. A simple interface which helps you understand exactly what you\'re looking at.')
			
			+column('3: Export to Excel spreadsheet or PDF file', 'Next, you want to include the results in your working papers? No problem. Simply export the data to a spreadsheet or read-only .pdf file so you can cross reference it with the rest of your workings')
