include ../components/template
include ../components/sap-login
include ../components/xero-login
include ../components/forms


mixin login-form(system, url)
	form.form-horizontal(action=url, method="post", data-bind="visible: system() === '#{system}'")
		block
		hr.vertical-space
		.form-group
			div(class="col-sm-4")
				button(type="submit" class="btn btn-primary") Login &raquo;


+page('Login', 'login')
	div.container
		form.form-horizontal(action="search", method="post")
			fieldset
				legend.vertical-space Login to accounts system
				+form-field('Accounts system')
					select.form-control(data-bind="value: system")
							option(value="sap") SAP
							option(value="sage50") Sage Line 50
							option(value="sage200") Sage Line 200
							option(value="xero") Xero
		+login-form('sap')
			+sap-login()
		+login-form('xero', "/api/xero/login")
			+xero-login()

				