include ../components/template
include ../components/xero-login
include ../components/sage50-login
include ../components/forms


mixin login-form(system, url)
	div(style="display: none;", data-bind="visible: system() === '#{system}', with: #{system}")
		block
		+button-group()
			button.vertical-space.btn.btn-primary(type="submit" data-bind="click: submit") Login &raquo;

mixin message(bindTo, alertClass)
	div(data-bind="visible: #{bindTo}.visible(), with: #{bindTo}" style="display: none;" class="alert " + alertClass)
		button.close(type="button" data-bind="click: hide") &#10006;
		span(data-bind="text: message()")


+page('Login', ['login'])
	.container
		legend.vertical-space Login to accounts system
		form.form-horizontal.blockable(action="search", method="post")
			.blockscreen.loadscreen(style="display: none;" data-bind="visible: blocked()")
			fieldset
				+form-field('Accounts system')
					select.form-control(data-bind="value: system")
							option(value="sage50") Sage Line 50
			+login-form('xero', "/api/xero/login")
				+xero-login()
			+login-form('sage50', "/api/sage50/login")
				+sage50-login()
		+message('error', 'alert-danger')
		hr.vertical-space

				