include ../components/template
include ../components/sap-login

+page('Login')
	div.container
		form.form-horizontal(action="search", method="post")
			fieldset
				legend.vertical-space Login to accounts system
				.form-group
					label.col-sm-2.control-label Accounts system
					.col-sm-10
						select.form-control
							option SAP
							option Sage Line 50
							option Sage Line 200
							option Xero
				+sap-login
				hr.vertical-space
				.form-group
					div(class="col-sm-4")
						button(type="submit" class="btn btn-primary") Login &raquo;