include ../components/template

mixin dayOfWeekSelector(dayToSelect)
	select.form-control.small-input
		for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
			if(day === dayToSelect)
				option(selected="selected")= day
			else
				option= day

mixin textInput(content)
	input.form-control.small-input(value=content)

    
+page('Search')
	div.container
		form.form-horizontal(action="search", method="post")
			fieldset
				legend.vertical-space Find journals for the period...
				.form-group
					.col-sm-12
						.well.inline-block
							+textInput('5/4/2013')
							label.control-label.between-label to
							+textInput('4/4/2013')
							
				legend.vertical-space posted outside...
				.form-group
					.col-sm-6
						.well.inline-block
							+dayOfWeekSelector()
							label.control-label.between-label to
							+dayOfWeekSelector('Friday')
					.col-sm-6
						.well.inline-block
							+textInput('08:00')
							label.control-label.between-label to
							+textInput('18:00')
						
				hr.vertical-space
				.form-group
					div(class="col-sm-4")
						button(type="submit" class="btn btn-primary") Search &raquo;				
						
						

