include ../components/template

mixin dayOfWeekSelector()
	select.form-control.small-input
		for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']						
			option= day

mixin textInput()
	input.form-control.small-input()

    
+page('Search')
	div.container
		form.form-horizontal(action="search", method="post")
			fieldset
				legend.vertical-space Find journals for the period...
				.form-group
					.col-sm-12
						.well.inline-block
							+textInput()
							label.control-label.between-label to
							+textInput()
							
				legend.vertical-space posted outside...
				.form-group
					.col-sm-6
						.well.inline-block
							+dayOfWeekSelector()
							label.control-label.between-label to
							+dayOfWeekSelector()
					.col-sm-6
						.well.inline-block
							+textInput()
							label.control-label.between-label to
							+textInput()
						
				hr.vertical-space
				.form-group
					div(class="col-sm-4")
						button(type="submit" class="btn btn-primary") Search &raquo;				
						
						

