include ../components/template
   
+page('Search', 'search')
	.container
		.row
			.col-md-1.col-md-offset-11
				a.pull-right.action-link(href="/api/logout") Logout
	.container(data-bind="with: input")
		include ../components/searchInput
		hr.vertical-space
	.container(data-bind="with: exportSuccessMessage")
		include ../components/export
	.container(data-bind="with: output")
		include ../components/results
				
			

						

