include ../components/template

mixin dayOfWeekSelector()
	.col-sm-2
		select.form-control
			option Mon
			option Tue
			option Wed
			option Thu
			option Fri
			option Sat
			option Sun

mixin textInput(content)
	.col-sm-2
		input.form-control(value=content)

    
+page('Sign up')
	div.container
		h1 Search
			img.brand-logo.pull-right(src="../images/A.svg")
		form.form-horizontal(action="search", method="post")
			fieldset
				legend.vertical-space Find journals for the period...
				.form-group
					+textInput('5/4/2013')
					label.col-sm-1.control-label To
					+textInput('4/4/2013')
				legend.vertical-space posted between...
				.form-group
					+dayOfWeekSelector()
					label.col-sm-1.control-label to
					+dayOfWeekSelector()
					.col-sm-1
					+textInput('08:00')
					label.col-sm-1.control-label to
					+textInput('18:00')
				hr.vertical-space
				.form-group
					div(class="col-sm-4")
						button(type="submit" class="btn btn-primary") Search &raquo;				
						
						

