include ../components/template

mixin dayOfWeekSelector(bindTo)
	select.form-control.small-input(data-bind="value: " + bindTo)
		for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']						
			option= day

mixin textInput(bindTo)
	input.form-control.small-input(data-bind="value: " + bindTo)

    
+page('Search', 'search')
	.container
		form.form-horizontal(action="search", method="post")
			fieldset(data-bind="with: input")
				legend.vertical-space Find journals for the period...
				.form-group(data-bind="with: Period")
					.col-sm-12
						.well.inline-block
							+textInput('From')
							label.control-label.between-label to
							+textInput('To')
							
				legend.vertical-space posted outside...
				.form-group(data-bind="with: TimeFrame")
					.col-sm-6
						.well.inline-block
							+dayOfWeekSelector('FromDay')
							label.control-label.between-label to
							+dayOfWeekSelector('ToDay')
					.col-sm-6
						.well.inline-block
							+textInput('FromTime')
							label.control-label.between-label to
							+textInput('ToTime')
						
			hr.vertical-space
			.form-group
				.col-sm-4
					button.btn.btn-primary(type="submit" data-bind="click: submit") Search &raquo;					
	.container(data-bind="visible: output().some(function(){return true;});")
		hr.vertical-space
		h2 Results

		// ko foreach: output
		.row
			.col-sm-3
				span(data-bind="text: Created")
			.col-sm-3
				span(data-bind="text: JournalDate")
			.col-sm-6(data-bind="foreach: Lines")
				.row
					.col-sm-3
						span(data-bind="text: AccountCode")
					.col-sm-3
						span(data-bind="text: AccountName")
					.col-sm-3
						span(data-bind="text: JournalType")
					.col-sm-3
						span(data-bind="text: Amount")
						
		// /ko
				
			

						

