include ../components/template
include ../components/forms

+page('Login', ['xerocompletelogin'])
	div.container
		form.form-horizontal.blockable(action='#', method="post", enc="x-www-form-urlencoded")
			.blockscreen(visible="none" data-bind="visible: blocked()") Loading...
			legend.vertical-space To finish logging in to Xero, enter your confirmation code here
			+form-field('Confirmation code')
				input.form-control(type="text" data-bind="value: code" name="code")
			+button-group()
				a.btn.btn-default.vertical-space(href="/api/logout") Cancel
				button.btn.btn-primary.vertical-space(type="submit" data-bind="click: submit") Login &raquo;
		hr.vertical-space
	
