include ../components/template

+page('Login')
	div.container
		form.form-horizontal(action='/api/xero/completelogin', method="post", enc="x-www-form-urlencoded")
			legend.vertical-space To finish logging in to Xero, enter your confirmation code here
			.form-group
				label.col-sm-2.control-label Confirmation code
				.col-sm-10
					input.form-control(type="text" value="" name="code")
			hr.vertical-space
			.form-group
				div(class="col-sm-4")
					button.btn.btn-primary(type="submit") Login &raquo;
					a.btn.btn-default(href="/api/xero/logout") Cancel
	
